@media screen and (max-width:599px){
body {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  width:100%;
  height:100%;
}

.hidden{
  display:none;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:18.75em;
}

.main{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header Styles */
.header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  margin-top:0.625em;
  width:100%;
}

.header-left{
  display: none;
  width:33%;
}

.header-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-links{
  text-decoration: none;
  color:#ffffff;
  font-family: Nunito;
  font-size: 1.125em;
}

.header-links:hover{
  transition: 0.5s ease;
  color:#F5D229;
}

.header-center{
  width:3.125em;
  height:3.125em;
  display:flex;
  align-items:center;
  justify-content: center;
}

.header-logo{
  width:100%;
}

.header-right{
  display: none;
  width:33%;
}

.header-hamburger{
  width:2.5em;
  height:2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hamburger-line{
  width:2.5em;
  height:0.3125em;
  background-color: #ffffff;
}

/* Mobile navigation */
.mobile-nav{
  position: fixed;
  top:0;
  left:0;
  z-index: 100000;
  background-color: #9ABD4B;
  width:100%;
  height:187.5em;
  display: none;
  flex-direction: column;
  align-items: center;
}

.mobile-nav-active{
  display: flex;
}

.mobile-nav-close{
  width:2.5em;
  height:2.5em;
  margin-top:1em;
  margin-left:auto;
}

.mobile-nav-close-img{
  width:100%;
}

.mobile-nav-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav-item{
  margin-top:3.125em;
}

.mobile-nav-link{
  color: #FFFFFF;
  font-family: "Zilla Slab";
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

/* Hero Section */
.hero{
  height:25em;
  width:100%;
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.hero-content{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  margin-top:2.5em;
}

.hero-title{
  color: #FFFFFF;
  font-family: "Zilla Slab Medium";
  font-size: 1.875em;
  text-align: center;
}

.hero-subtitle{
  color: #FFFFFF;
  font-family: "Zilla Slab";
  font-size: 1.125em;
  font-weight: bold;
  margin-top:1.875em;
  text-align: center;
}

.hero-text{
  margin-top:1.25em;
  color: #FFFFFF;
  font-family: Nunito;
  font-size: 0.875em;
  text-align: center;
}

.filled-btn-link{
  text-decoration: none;
  color: #FFFFFF;
  font-family: Nunito;
  font-size: 1.125em;
  font-weight: bold;
  margin-top:1.875em;
  width:16.875em;
}

.filed-btn-inside{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 2.8125em;
  width: 16.875em;
  background-color: #F5D229;
  color:#ffffff;
  border-radius: 3.125em;
  text-align: center;
}

.filled-btn-link:hover .filed-btn-inside{
  background-color: #9ABD4B;
  transition: 0.5s ease;
}

/* Upcoming-events Section */
.upcomming-events{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
}

.section-title{
  color: #5d7032;
  font-family: "Zilla Slab Medium";
  font-size: 18px;
  text-align:center;
  margin-top:1.875em;
  margin-bottom:1.25em;
  font-weight:600;
}

.section-subtitle{
  color: #000000;
  font-family: Nunito;
  font-size: 1em;
  font-weight:italic;
  width:100%;
  text-align:center;
  margin-top:-3.125em;
  margin-bottom:3.75em;
}

.left-event{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  max-width:62.5em;
  align-items: center;
  justify-content: center;
}

.left-event-photo{
  width:100%;
  height:12.5em;
  overflow:hidden;
}

.left-event-img{
  width:100%;
  height:100%;
}

.left-event-description{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  max-width: 34.375em;
  margin-top:1.25em;
}

.left-event-description-title{
  color: #000000;
  font-family: "Zilla Slab";
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.left-event-description-date{
  color: #000000;
  font-family: Nunito;
  font-size: 1.125em;
  font-weight:light-italic;
  margin-top:0.625em;
}

.left-event-description-text{
  color: #000000;
  font-family: Nunito;
  font-size: 1.125em;
  margin-top:1.25em;
  width: 100%;
  text-align: center;
}

.left-event-description-btn{
  margin-top:1.875em;
}

.right-event{
  margin-top:3.75em;
  margin-bottom:3.75em;
  display:flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width:100%;
  align-items: center;
  justify-content: center;
}

.right-event-description{
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
  align-items: center;
  width:100%;
  margin-top: 1.25em;
}

.right-event-description-text{
  color: #000000;
  font-family: Nunito;
  font-size: 1.125em;
  margin-top:1.25em;
  text-align: center;
  width:100%;
}

/* Projects Section */
.projects-section{
  max-width:1200px;
  justify-content: space-between;
  flex-direction: column;
}

.projects{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-project{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:3.75em;
}

.right-project{
  margin-bottom: 0px;
}

.left-project-image{
  width:100%;
  height:200px;
  overflow:hidden;
  margin-bottom: 1.875em;
}

.left-project-image-link{
  height:100%;
}

.left-project-title{
  color: #000000;
  font-family: "Zilla Slab";
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.left-project-text{
  text-align: center;
  color: #000000;
  font-family: Nunito;
  font-size: 1.125em;
  margin-top:1.25em;
  width:90%;
}

.left-project-button{
  margin-top: 1.25em;
}

/* Merchandise Section */
.merchandise{
  display:flex;
  justify-content: center;
  align-items: center;
}

.merchandise-photos{
  width:100%;
  display:flex;
  flex-direction: column;
}

.merchandise-photo{
  width:100%;
  overflow:hidden;
  display: flex;
  text-align: center;
  justify-content: center;
}

.merchandise-photo-inside{
  width:100%;
}

.merchandise-btn{
  margin-top:1.875em;
}

/*Sponsors Section */
.sponsors-slider{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}

.slider-controller{
  cursor:pointer;
  width:10%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:10px;
}

.slider-controller-image{
  width:100%;
}

.slider-container{
  max-width:25em;
  overflow:hidden;
}

.sponsor{
  display:none;
}

.active-sponsor{
  display:flex;
  top:1.25em;
  left:3.125em;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.sponsor-image{
  max-width:12.5em;
  overflow:hidden;
}

.sponsor-image-link{
  width: 100%;
}

.sponsor-title{
  color: #000000;
  font-family: "Zilla Slab";
  font-size: 1.25em;
  font-weight: bold;
  margin-top:1.875em;
  text-align: center;
  width:80%;
}

.sponsor-description{
  color: #000000;
  font-family: Nunito;
  font-size: 1em;
  text-align:center;
  width:80%;
  margin-top:0.9375em;
}

.sponsor-selector{
  margin-top:3.125em;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-bottom:2.5em;
}

.sponsor-selector-list{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width:40%;
}

.sponsor-selector-item{
  width:1.25em;
  height:1.25em;
  border-radius:2.5em;
  background-color:#F5D229;
}

.sponsor-selector-item-active{
  background-color:#9ABD4B;
}
/* Membership Section */
.membership{
  display: flex;
  justify-content: center;
  align-items: center;
}

.membership .section-subtitle{
  margin-top: -0.625em;
}

.membership-content{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  width: 100%;
}

.membership-photo{
  display: none;
}

.membership-photo-link{
  display: none;
}

.membership-form{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:-1.25em;
}

.form-inside{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
}

.form-text-input{
  width:100%;
  border-radius: 1.25em;
  padding:0.625em 0px 0.625em 0px;
  height:1.25em;
  background-color: #ffffff;
  border:1px solid #F5D229;
  margin-bottom:1.25em;
  text-align: center;
}

.form-textarea{
  width:94%;
  border-radius: 1.25em;
  padding:0.625em 0px 0.625em 1.25em;
  height:5.625em;
  background-color: #ffffff;
  border:1px solid #F5D229;
  margin-bottom:1.25em;
}

.form-btn{
  border:none;
  margin-top:-0.3125em;
}

.form-btn:hover{
  cursor:pointer;
  transition: 0.7s;
  background-color: #9ABD4B;
}

/* Footer Styling */
.footer{
  margin-top:3.75em;
  width:100%;
  max-height:50em;
  background-color: #2D3436;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container{
  width:18.75em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-left{
  display:flex;
  flex-direction: row;
  width:100%;
  margin-top:1.5625em;
}

.footer-block{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom:1.5625em;
  width:30%;
}

.footer-block-title{
  color: #FEFFFF;
  font-family: Nunito;
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom:0.625em;
}

.footer-block-text{
  color: #FEFFFF;
  font-family: Nunito;
  font-size: 1em;
  font-weight:regular;
}

.footer-middle{
  width:100%;
}

.footer-middle-image{
  width:100%;
}

.footer-right{
  margin-top:1.25em;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:1.5625em;
}

.footer-block-title-big{
  font-family: "Zilla Slab";
  font-size: 2.125em;
  color:#ffffff;
  font-weight: bold;
  margin-bottom:0.9375em;
  text-align: center;
}

.footer-block-text-right{
  color: #FEFFFF;
  font-family: Nunito;
  font-size: 1em;
  font-weight: regular;
  text-align: center;
  line-height: 1.25em;
}

.footer-block-btn{
  margin-top:1.25em;
  width:100%;
}
}

/* Style for tablets(more than 599px and less than 1200px) */
@media screen and (min-width:600px) and (max-width:1199px){
  body {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width:100%;
    height:100%;
  }
  
  .hidden{
    display:none;
  }
  
  .container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:35.375em;
  }
  
  .main{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Header Styles */
  .header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-top:0.625em;
    width:100%;
  }
  
  .header-left{
    display: flex;
    width:39%;
  }
  
  .header-items{
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .header-links{
    text-decoration: none;
    color:#ffffff;
    font-family: Nunito;
    font-size: 1em;
  }
  
  .header-links:hover{
    transition: 0.5s ease;
    color:#F5D229;
  }
  
  .header-center{
    width:100px;
    height:100px;
    display:flex;
    align-items:center;
    justify-content: center;
  }
  
  .header-logo{
    width:100%;
  }
  
  .header-right{
    display: flex;
    width:39%;
  }
  
  .header-hamburger{
    width:2.5em;
    height:2.5em;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .hamburger-line{
    width:2.5em;
    height:0.3125em;
    background-color: #ffffff;
  }
  
  /* Mobile navigation */
  .mobile-nav{
    position: fixed;
    top:0;
    left:0;
    z-index: 100000;
    background-color: #9ABD4B;
    width:100%;
    height:100%;
    display: none;
    flex-direction: column;
    align-items: center;
  }
  
  .mobile-nav-active{
    display: flex;
  }
  
  .mobile-nav-close{
    width:2.5em;
    height:2.5em;
    margin-top:1em;
    margin-left:auto;
  }
  
  .mobile-nav-close-img{
    width:100%;
  }
  
  .mobile-nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mobile-nav-item{
    margin-top:3.125em;
  }
  
  .mobile-nav-link{
    color: #FFFFFF;
    font-family: "Zilla Slab";
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }
  
  /* Hero Section */
  .hero{
    height:37.5em;
    width:100%;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 55%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hero-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    margin-top:6.875em;
  }
  
  .hero-title{
    color: #FFFFFF;
    font-family: "Zilla Slab Medium";
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .hero-subtitle{
    color: #FFFFFF;
    font-family: "Zilla Slab";
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .hero-text{
    margin-top:0.625em;
    color: #FFFFFF;
    font-family: Nunito;
    font-size: 1.125em;
    text-align: center;
  }
  
  .filled-btn-link{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Nunito;
    font-size: 1.125em;
    font-weight: bold;
    margin-top:1.875em;
    width:16.875em;
  }
  
  .filed-btn-inside{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 2.8125em;
    width: 16.875em;
    background-color: #F5D229;
    color:#ffffff;
    border-radius: 3.125em;
    text-align: center;
  }
  
  .filled-btn-link:hover .filed-btn-inside{
    background-color: #9ABD4B;
    transition: 0.5s ease;
  }
  
  /* Upcoming-events Section */
  .section-title{
    color: #5d7032;
    font-family: "Zilla Slab Medium";
    font-size: 2.25em;
    text-align:center;
    margin-top:3em;
    margin-bottom:2em;
  }
  
  .section-subtitle{
    color: #000000;
    font-family: Nunito;
    font-size: 1.125em;
    font-weight:italic;
    width:65%;
    text-align:center;
    margin-bottom:3.75em;
  }

  .membership-title{
    margin-bottom:0.8em;
  }

  .left-event{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-width:62.5em;
    align-items: center;
    justify-content: center;
  }
  
  .left-event-photo{
    width:100%;
    height:21.875em;
    overflow:hidden;
  }
  
  .left-event-img{
    width:100%;
    height:100%;
  }
  
  .left-event-description{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-width: 34.375em;
    margin-top:1.25em;
  }
  
  .left-event-description-title{
    color: #000000;
    font-family: "Zilla Slab";
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }
  
  .left-event-description-date{
    color: #000000;
    font-family: Nunito;
    font-size: 1.125em;
    font-weight:light-italic;
    margin-top:0.625em;
  }
  
  .left-event-description-text{
    color: #000000;
    font-family: Nunito;
    font-size: 1.125em;
    margin-top:1.25em;
    width: 100%;
    text-align: center;
  }
  
  .left-event-description-btn{
    margin-top:1.875em;
  }
  
  .right-event{
    margin-top:3.75em;
    margin-bottom:3.75em;
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width:100%;
    align-items: center;
    justify-content: center;
  }
  
  .right-event-description{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    margin-top: 1.25em;
  }
  
  .right-event-description-text{
    color: #000000;
    font-family: Nunito;
    font-size: 1.125em;
    margin-top:1.25em;
    text-align: center;
    width:100%;
  }
  
  /* Projects Section */
  .projects-section{
    max-width:1200px;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .projects{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .left-project{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:3.75em;
  }
  
  .right-project{
    margin-bottom: 0px;
  }
  
  .left-project-image{
    width:100%;
    height:21.875em;
    overflow:hidden;
    margin-bottom: 1.875em;
  }
  
  .left-project-image-link{
    width:100%;
  }
  
  .left-project-title{
    color: #000000;
    font-family: "Zilla Slab";
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }
  
  .left-project-text{
    text-align: center;
    color: #000000;
    font-family: Nunito;
    font-size: 1.125em;
    margin-top:1.25em;
    width:90%;
  }
  
  .left-project-button{
    margin-top: 1.25em;
  }
  
  /* Merchandise Section */
  .merchandise{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .merchandise-photos{
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
  }
  
  .merchandise-photo{
    width:50%;
    overflow:hidden;
    flex-grow: 1;
  }
  
  .merchandise-photo-inside{
    display: flex;
    justify-content: center;
    width:100%;
  }
  
  .merchandise-btn{
    margin-top:1.875em;
  }
  
  /*Sponsors Section */
  .sponsors-slider{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
  }
  
  .slider-controller{
    cursor:pointer;
    width:10%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:0.625em;
  }
  
  .slider-controller-image{
    width:100%;
  }
  
  .slider-container{
    max-width:25em;
    overflow:hidden;
  }
  
  .sponsor{
    display:none;
  }
  
  .active-sponsor{
    display:flex;
    top:1.25em;
    left:3.125em;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  }
  
  .sponsor-image{
    max-width:12.5em;
    overflow:hidden;
  }
  
  .sponsor-image-link{
    width: 100%;
  }
  
  .sponsor-title{
    color: #000000;
    font-family: "Zilla Slab";
    font-size: 1.25em;
    font-weight: bold;
    margin-top:1.875em;
    text-align: center;
    width:80%;
  }
  
  .sponsor-description{
    color: #000000;
    font-family: Nunito;
    font-size: 1em;
    text-align:center;
    width:80%;
    margin-top:0.9375em;
  }
  
  .sponsor-selector{
    margin-top:3.125em;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-bottom:2.5em;
  }
  
  .sponsor-selector-list{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:40%;
  }
  
  .sponsor-selector-item{
    width:1.25em;
    height:1.25em;
    border-radius:2.5em;
    background-color:#F5D229;
  }
  
  .sponsor-selector-item-active{
    background-color:#9ABD4B;
  }
  /* Membership Section */
  .membership{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .membership .section-subtitle{
    width:100%;
    margin-top:-0.3125em;
  }
  
  .membership-content{
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    margin-top:-1.25em;
  }
  
  .membership-photo{
    width:100%;
  }
  
  .membership-photo-link{
    width:100%;
  }
  
  .membership-form{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:1.25em;
  }
  
  .form-inside{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
  }
  
  .form-text-input{
    width:100%;
    border-radius: 1.25em;
    padding:0.625em 0px 0.625em 0px;
    height:1.25em;
    background-color: #ffffff;
    border:1px solid #F5D229;
    margin-bottom:1.25em;
    text-align: center;
  }
  
  .form-textarea{
    width:94%;
    border-radius: 1.25em;
    padding:0.625em 0px 0.625em 1.25em;
    height:5.625em;
    background-color: #ffffff;
    border:1px solid #F5D229;
    margin-bottom:1.25em;
  }
  
  .form-btn{
    border:none;
    margin-top:0.3125em;
  }
  
  .form-btn:hover{
    cursor:pointer;
    transition: 0.7s;
    background-color: #9ABD4B;
  }
  
  /* Footer Styling */
  .footer{
    margin-top:3.75em;
    width:100%;
    max-height:50em;
    background-color: #2D3436;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-container{
    width:35.375em;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-left{
    display:flex;
    flex-direction: row;
    width:70%;
    margin-top:1.5625em;
  }
  
  .footer-block{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom:1.5625em;
    width:30%;
  }
  
  .footer-block-title{
    color: #FEFFFF;
    font-family: Nunito;
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom:0.625em;
  }
  
  .footer-block-text{
    color: #FEFFFF;
    font-family: Nunito;
    font-size: 1em;
    font-weight: regular;
  }
  
  .footer-middle{
    width:30%;
    margin-top:1.5625em;
  }
  
  .footer-middle-image{
    width:100%;
  }
  
  .footer-right{
    margin-top:0.9375em;
    flex-grow:1;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:1.5625em;
  }
  
  .footer-block-title-big{
    font-family: "Zilla Slab";
    font-size: 2.125em;
    color:#ffffff;
    font-weight: bold;
    margin-bottom:0.9375em;
    text-align: center;
  }
  
  .footer-block-text-right{
    color: #FEFFFF;
    font-family: Nunito;
    font-size: 1em;
    font-weight: regular;
    text-align: center;
    line-height: 1.25em;
  }
  
  .footer-block-btn{
    margin-top:1.25em;
    width:16.875em;
  }
}

/* Styles for desktop screens(more than 1200px) */
@media screen and (min-width:1200px){
  /* Basic Styles */
body {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  width:100%;
  height:100%;
}

.hidden{
  display:none;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:1200px;
}

.main{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header Styles */
.mobile-nav{
  display: none;
}

.header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  margin-top:0.625em;
  width:100%;
}

.header-left{
  width:33%;
}

.header-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-links{
  text-decoration: none;
  color:#ffffff;
  font-family: Nunito;
  font-size: 1.125em;
}

.header-links:hover{
  transition: 0.5s ease;
  color:#F5D229;
}

.header-center{
  width:12.5em;
  display:flex;
  align-items:center;
  justify-content: center;
}

.header-logo{
  width:100%;
}

.header-right{
  width:33%;
}

.header-hamburger{
  display: none;
}

/* Hero Section */
.hero{
  height:100vh;
  width:100%;
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.hero-content{
  display:flex;
  justify-content: center;
  flex-direction: column;
  width:100%;
  margin-top:3.75em;
}

.hero-title{
  color: #FFFFFF;
  font-family: "Zilla Slab Medium";
  font-size: 3em;
}

.hero-subtitle{
  color: #FFFFFF;
  font-family: "Zilla Slab";
  font-size: 1.5em;
  font-weight: bold;
  margin-top:3.75em;
}

.hero-text{
  margin-top: 1.25em;
  color: #FFFFFF;
  font-family: Nunito;
  font-size: 1.125em;
}

.filled-btn-link{
  text-decoration: none;
  color: #FFFFFF;
  font-family: Nunito;
  font-size: 1.125em;
  font-weight: bold;
  margin-top:1.875em;
  width:16.875em;
}

.filed-btn-inside{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 2.8125em;
  width: 16.875em;
  background-color: #F5D229;
  color:#ffffff;
  border-radius: 3.125em;
  text-align: center;
}

.filled-btn-link:hover .filed-btn-inside{
  background-color: #9ABD4B;
  transition: 0.5s ease;
  box-shadow: 0px 4px 20px rgba(154, 189, 75, 0.5);
}

/* Upcoming-events Section */
.upcomming-events{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
}

.section-title{
  color: #000000;
  font-family: "Zilla Slab Medium";
  font-size: 2.25em;
  text-align:center;
  margin-top:4em;
  margin-bottom:3em;
}

.section-subtitle{
  color: #000000;
  font-family: Nunito;
  font-size: 1.125em;
  font-weight:italic;
  width:65%;
  text-align:center;
  margin-top:-4em;
  margin-bottom:3.75em;
}

.left-event{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:62.5em;
  align-items: center;
  justify-content: center;
}

.left-event-photo{
  width:31.25em;
  height:18.75em;
  overflow:hidden;
}

.left-event-img{
  width:100%;
  height:100%;
}

.left-event-description{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: start;
  width: 37.5em;
  margin-left:3.125em;
}

.left-event-description-title{
  color: #5d7032;
  font-family: "Zilla Slab";
  font-size: 1.5em;
  font-weight: bold;
}

.left-event-description-date{
  color: #000000;
  font-family: Nunito;
  font-size: 1.125em;
  font-weight:light-italic;
  margin-top:0.625em;
}

.left-event-description-text{
  color: #000000;
  font-family: Nunito;
  font-size: 1.125em;
  margin-top:1.25em;
  font-weight: 300;
}

.left-event-description-btn{
  margin-top:1.875em;
}

.right-event{
  margin-top:3.75em;
  margin-bottom:3.75em;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:62.5em;
  align-items: center;
  justify-content: center;
}

.right-event-description{
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 37.5em;
  margin-right:3.125em;
}

.right-event-description-text{
  color: #000000;
  font-family: Nunito;
  font-size: 1.125em;
  margin-top:1.25em;
  text-align: right;
}

/* Projects Section */
.projects-section{
  width:1200px;
  justify-content: space-between;
  flex-direction: column;
}

.projects{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-project{
  width:47%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-project-image{
  width:100%;
  height:25em;
  overflow:hidden;
  margin-bottom: 1.875em;
}

.left-project-image-link{
  width:100%;
  height:100%;
}

.left-project-title{
  color: #000000;
  font-family: "Zilla Slab";
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.left-project-text{
  text-align: center;
  color: #000000;
  font-family: Nunito;
  font-size: 1.125em;
  margin-top:1.25em;
}

.left-project-button{
  margin-top: 1.25em;
}

/* Merchandise Section */
.merchandise{
  display:flex;
  justify-content: center;
  align-items: center;
}

.merchandise-photos{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.merchandise-photo{
  width:25em;
  height:23.75em;
  overflow:hidden;
}

.merchandise-photo-inside{
  height:100%;
}

.merchandise-btn{
  margin-top:1.875em;
}

/*Sponsors Section */
.sponsors-slider{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}

.slider-controller{
  cursor:pointer;
  width:10%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.slider-controller-image{
  width:70%;
}

.slider-container{
  width:25em;
  overflow:hidden;
}

.sponsor{
  display:none;
}

.active-sponsor{
  display:flex;
  top:1.25em;
  left:3.125em;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.sponsor-image{
  width:15.625em;
  overflow:hidden;
}

.sponsor-image-link{
  width:100%;
}

.sponsor-title{
  color: #000000;
  font-family: "Zilla Slab";
  font-size: 1.5em;
  font-weight: bold;
  margin-top:1.875em;
}

.sponsor-description{
  color: #000000;
  font-family: Nunito;
  font-size: 1.125em;
  text-align:center;
  margin-top:0.9375em;
}

.sponsor-selector{
  margin-top:3.125em;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-bottom:2.5em;
}

.sponsor-selector-list{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width:20%;
}

.sponsor-selector-item{
  width:1.25em;
  height:1.25em;
  border-radius:2.5em;
  background-color:#F5D229;
}

.sponsor-selector-item-active{
  background-color:#9ABD4B;
}
/* Membership Section */
.membership{
  display: flex;
  justify-content: center;
  align-items: center;
}

.membership-content{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  width: 100%;
}

.membership-photo{
  width:40.625em;
}

.membership-photo-link{
  width:100%;
}

.membership-form{
  width:34.375em;
  display:flex;
  align-items: center;
  justify-content: center;
}

.form-inside{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-text-input{
  width:25em;
  border-radius: 1.25em;
  padding:0.625em 0px 0.625em 0px;
  height:1.25em;
  background-color: #ffffff;
  border:1px solid #F5D229;
  margin-bottom:1.25em;
  text-align: center;
}

.form-textarea{
  width:23.75em;
  border-radius: 1.25em;
  padding:0.625em 0px 0.625em 1.25em;
  height:5.625em;
  background-color: #ffffff;
  border:1px solid #F5D229;
  margin-bottom:1.25em;
}

.form-btn{
  border:none;
}

.form-btn:hover{
  cursor:pointer;
  transition: 0.7s;
  background-color: #9ABD4B;
}

/* Footer Styling */
.footer{
  margin-top:7.5em;
  width:100%;
  height:18.75em;
  background-color: #2D3436;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container{
  width:1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-left{
  display:flex;
  flex-direction: column;
  width:30%;
  margin-top:1.5625em;
}

.footer-block{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom:1.5625em;
}

.footer-block-title{
  color: #FEFFFF;
  font-family: Nunito;
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom:0.625em;
}

.footer-block-text{
  color: #FEFFFF;
  font-family: Nunito;
  font-size: 1em;
  font-weight: regular;
}

.footer-middle{
  width:30%;
  margin-right:1.875em;
}

.footer-middle-image{
  width:100%;
}

.footer-right{
  width:40%;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-block-title-big{
  font-family: "Zilla Slab";
  font-size: 2.125em;
  color:#ffffff;
  font-weight: bold;
  margin-bottom:0.9375em;
  text-align: right;
}

.footer-block-text-right{
  color: #FEFFFF;
  font-family: Nunito;
  font-size: 1em;
  font-weight: regular;
  text-align: right;
  line-height: 1.25em;
}

.footer-block-btn{
  margin-top:1.875em;
  width:16.875em;
}

}
