/* Additional styles for Projects page */
.hero-options{
    background-image: url("../images/projectsHeader-mobile.png");
}

.hero-option{
    font-size:22px;
}

.hero-option-right{
    text-align: right;
}

.hands-on-environmentalism{
    display: flex;
    justify-content: center;
}

.environmentalism-text{
    font-family: "Nunito", sans-serif;
    font-size:15px;
    text-align:center;
}

.first-project{
    display: flex;
    justify-content: center;
}

.project-boxes{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.project-box{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width:100%;
    margin-bottom:30px;
}

.project-box:last-child{
    margin-bottom: 0;
}

.project-box-img{
    width:290px;
    height:230px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.project-box-text{
    margin-top:15px;
    font-size:15px;
    font-family: "Nunito", sans-serif;
    text-align: center;
}

.second-project{
    display: flex;
    justify-content: center;
}

.second-project .environmentalism-text{
    margin-bottom:15px;
}

.footer{
    margin-top:0px;
}

/* Additional styling for tablets */
@media screen and (min-width:600px){
    .hero-options{
        background-image: url("../images/projectsHeader-tablet.png");
    }

    .hero-option{
        font-size:36px;
    }

    .environmentalism-text{
        font-size:16px;
        margin-top:-25px;
    }

    .project-box{
        width:278px;
    }

    .project-boxes{
        flex-direction: row;
        flex-wrap: wrap;
        width:100%;
        justify-content: space-between;
        align-items: flex-start;
    }

    .project-box{
        margin-top:0px;
    }

    .project-box-img{
        width:100%;
    }

    .project-box-text{
        margin-top:20px;
    }

    .newsletter-form{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .newsletter-form-text-input{
        width:180px;
        margin-bottom:0px;
    }
}

@media screen and (min-width:1199px){
    .hero-options{
        background-image: url("../images/projectsHeader-desktop.png");
    }

    .project-box{
        width:570px;
    }

    .project-box-img{
        height:360px;
    }

    .newsletter{
        margin-bottom:0px;
    }

    .newsletter-container{
        width:1000px;
    }

    .newsletter-form-text-input{
        width:320px;
        margin-bottom:0px;
    }
}